<a href="https://colab.research.google.com/github/Lutris98/21_1Q/blob/master/1.Titanic/Titanic_Prototype.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.EDA

In [155]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV #model_selection doesn't need mentioning, only the method does
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.ensemble import RandomForestClassifier, VotingClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score #given metric was accuracy

In [156]:
from google.colab import drive #Korean Army banned me from using os resources so I learned new ways
drive.mount('/content/gdrive')
titanic_df=pd.read_csv('/content/gdrive/MyDrive/Dataset/titanic_train.csv')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

##1)Basic Statistics

In [157]:
titanic_df.head(3)

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S

[3 rows x 12 columns]

In [158]:
titanic_df.info() #objects are strings

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [159]:
titanic_feature=titanic_df.drop(['Survived'], axis=1) #parameter axis is mandatory
titanic_label=titanic_df['Survived']

##2)Visualization

#2.Preprocessing

##1)Dropping&Padding

In [160]:
titanic_feature=titanic_feature.drop(['PassengerId', 'Name', 'Ticket'], axis=1) #drop method doesn't allow inplacing(Should check results along the way)
titanic_feature['Age'].fillna(titanic_feature['Age'].mean(), inplace=True) #could be affecting, so average would minimize the loss(for further development, something could be inferred from sibsp&parch)
titanic_feature['Cabin'].fillna('N', inplace=True) #inplacing so that additional object would be unnecesory
titanic_feature['Embarked'].fillna('N',inplace=True) #Wonder features like this would be better off set random...
print(titanic_feature.isnull().sum().sum()) #checking

0

##2)Encoding

In [161]:
print('Sex distribution:\n',titanic_feature['Sex'].value_counts()) #focusing on columns
print('Cabin distribution\n',titanic_feature['Cabin'].value_counts())
print('Embarked distribution:\n',titanic_feature['Embarked'].value_counts())

Sex distribution:
 male      577
female    314
Name: Sex, dtype: int64
Cabin distribution
 N              687
C23 C25 C27      4
B96 B98          4
G6               4
E101             3
              ...
T                1
C148             1
F38              1
E36              1
C111             1
Name: Cabin, Length: 148, dtype: int64
Embarked distribution:
 S    644
C    168
Q     77
N      2
Name: Embarked, dtype: int64

In [162]:
titanic_feature['Cabin']=titanic_df['Cabin'].str[:1] #Cabin needs insight that only the first character contains information #pd.str is applicable to series
features=['Cabin','Sex','Embarked']
for feature in features:
  titanic_feature[feature]=LabelEncoder().fit_transform(titanic_feature[feature].astype(str)) #changing dtype of series

##3)Scaling&Outliers

In [163]:
titanic_feature.describe()

           Pclass         Sex         Age  ...        Fare       Cabin    Embarked
count  891.000000  891.000000  891.000000  ...  891.000000  891.000000  891.000000
mean     2.308642    0.647587   29.699118  ...   32.204208    6.716049    2.343434
std      0.836071    0.477990   13.002015  ...   49.693429    2.460739    1.167398
min      1.000000    0.000000    0.420000  ...    0.000000    0.000000    0.000000
25%      2.000000    0.000000   22.000000  ...    7.910400    8.000000    2.000000
50%      3.000000    1.000000   29.699118  ...   14.454200    8.000000    3.000000
75%      3.000000    1.000000   35.000000  ...   31.000000    8.000000    3.000000
max      3.000000    1.000000   80.000000  ...  512.329200    8.000000    3.000000

[8 rows x 8 columns]

In [164]:
for feature in titanic_feature.columns: 
  titanic_feature[feature]=StandardScaler().fit_transform(titanic_feature[feature].values.reshape(-1,1)) #not a regression problem, so distribution might not be the problem #Scalers need ndarray
titanic_feature.describe()

             Pclass           Sex  ...         Cabin      Embarked
count  8.910000e+02  8.910000e+02  ...  8.910000e+02  8.910000e+02
mean  -2.031048e-16 -4.059603e-16  ...  3.031619e-16  2.666529e-17
std    1.000562e+00  1.000562e+00  ...  1.000562e+00  1.000562e+00
min   -1.566107e+00 -1.355574e+00  ... -2.730814e+00 -2.008526e+00
25%   -3.693648e-01 -1.355574e+00  ...  5.220674e-01 -2.943530e-01
50%    8.273772e-01  7.376951e-01  ...  5.220674e-01  5.627337e-01
75%    8.273772e-01  7.376951e-01  ...  5.220674e-01  5.627337e-01
max    8.273772e-01  7.376951e-01  ...  5.220674e-01  5.627337e-01

[8 rows x 8 columns]

#3.CV & Tuning

In [165]:
rf_clf=RandomForestClassifier(random_state=0) #Cross validation need models 
xgb_clf=XGBClassifier(random_state=0)
lgbm_clf=LGBMClassifier(random_state=0)
lr_clf=LogisticRegression(random_state=0, max_iter=5000)
X_train, X_test, y_train, y_test=train_test_split(titanic_feature, titanic_label, test_size=0.2,random_state=0)

In [166]:
rf_params={'n_estimators':[200,300],
           'max_depth':[6,8,10,12], #similar to decisiontree
           'min_samples_leaf':[3,5,7],
           'min_samples_split':[10,15,20]}
rf_gridcv=GridSearchCV(rf_clf, param_grid=rf_params, cv=5, n_jobs=-1) #using all CPU cores
rf_gridcv.fit(X_train, y_train)
print('best parameters:\n',rf_gridcv.best_params_)

best parameters:
 {'max_depth': 10, 'min_samples_leaf': 5, 'min_samples_split': 15, 'n_estimators': 300}

In [167]:
lgbm_params={'n_estimators':[200,300],
             'num_leaves':[32,64],
             'min_child_samples':[60,100],
             'subsample':[0.8,1],
             'max_depth':[10]}
lgbm_gridcv=GridSearchCV(lgbm_clf, param_grid=lgbm_params, cv=5, n_jobs=-1) 
lgbm_gridcv.fit(X_train, y_train)
print('best parameters:\n',lgbm_gridcv.best_params_)

best parameters:
 {'max_depth': 10, 'min_child_samples': 60, 'n_estimators': 200, 'num_leaves': 32, 'subsample': 0.8}

In [168]:
lr_params={'C':[0.1,1,10]}
lr_gridcv=GridSearchCV(lr_clf, param_grid=lr_params, cv=5, n_jobs=-1) 
lr_gridcv.fit(X_train, y_train)
print('best parameters:\n',lr_gridcv.best_params_)

best parameters:
 {'C': 0.1}

#4.Modeling

In [169]:
rf_clf=RandomForestClassifier(n_estimators=200, max_depth=10, min_samples_leaf=3, min_samples_split=10, random_state=0) #Cross validation need models 
xgb_clf=XGBClassifier(n_estimators=200, max_depth=10,learning_rate=0.1)
lgbm_clf=LGBMClassifier(n_estimators=300, num_leaves=32, min_child_samples=100, subsample=0.8, max_depth=10, random_state=0)
lr_clf=LogisticRegression(C=0.1, solver='liblinear') #convergence achieved only when solver is changed from default
vo_clf=VotingClassifier(estimators=[('RandomForest',rf_clf),('XGBoost',xgb_clf),('LightGBM',lgbm_clf),('LogisticRegression',lr_clf)], voting='soft')
vo_clf.fit(X_train, y_train)
pred1=rf_clf.fit(X_train, y_train).predict(X_test)
pred2=xgb_clf.fit(X_train, y_train).predict(X_test)
pred3=lgbm_clf.fit(X_train, y_train).predict(X_test)
pred4=lr_clf.fit(X_train, y_train).predict(X_test)
pred5=vo_clf.predict(X_test)
print('Accuracy1:{0:.4f} Accuracy2:{1:.4f} Accuracy3:{2:4f} Accuracy4:{3:4f}'.format(accuracy_score(y_test,pred1), accuracy_score(y_test,pred2),accuracy_score(y_test,pred3),accuracy_score(y_test,pred4)))
print('Final accuracy:{0:.4f}'.format(accuracy_score(y_test,pred5))) #from python3.6 should use fstring formatting  #:separates index and the number

Accuracy1:0.8380 Accuracy2:0.8547 Accuracy3:0.837989 Accuracy4:0.815642
Final accuracy:0.8492

# 1) Uploading

In [170]:
from google.colab import drive 
drive.mount('/content/gdrive')
test_df=pd.read_csv('/content/gdrive/MyDrive/Dataset/titanic_test.csv') 
test_df.info()

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [171]:
Pid=test_df['PassengerId']
test_df=test_df.drop(['PassengerId','Name', 'Ticket'], axis=1) #uploading needs the same preprocessing I did on training set(but no need to split feature&label) #Better off written in functions
test_df['Age'].fillna(test_df['Age'].mean(), inplace=True) 
test_df['Fare'].fillna(test_df['Fare'].mean(), inplace=True) 
test_df['Cabin'].fillna('N', inplace=True) 
test_df['Cabin']=test_df['Cabin'].str[:1] 
features=['Cabin','Sex','Embarked']
for f1 in features:
  test_df[f1]=LabelEncoder().fit_transform(test_df[f1].astype(str))
for f2 in test_df.columns: 
  test_df[f2]=StandardScaler().fit_transform(test_df[f2].values.reshape(-1,1)) #not a regression problem, so distribution might not be the problem #Scalers need ndarray
realpred=vo_clf.predict(test_df) #output of classifier is ndarray object
realpred=pd.DataFrame(realpred, columns=['Survived']) #never forget[]
Submit=pd.DataFrame({'PassengerId':Pid,'Survived':realpred['Survived']}) #Data set by giving each column name and data
Submit.head(3)
Submit.to_csv('/content/gdrive/MyDrive/Dataset/Lutris_titanic.csv', index = False) #The client doesn't want indice on submission

# 2) Feedback<br>