<a href="https://colab.research.google.com/github/Lutris98/21_1Q/blob/master/2.Santander/Santander_Baseline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1.EDA

In [124]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split, GridSearchCV #the ones that could be written with simpler API
from sklearn.ensemble import RandomForestClassifier, VotingClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from sklearn.metrics import roc_auc_score #auc means area under curve #asymmetric targetset makes auc score more valid

In [125]:
from google.colab import drive
drive.mount('/content/gdrive')
santander_df=pd.read_csv('/content/gdrive/MyDrive/Dataset/santander_train.csv')
test_df=pd.read_csv('/content/gdrive/MyDrive/Dataset/santander_test.csv')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [126]:
df=pd.concat([santander_df,test_df],axis=0)

##1)Basic statistics

In [127]:
df.head(3)

   ID  var3  var15  ...  saldo_medio_var44_ult3     var38  TARGET
0   1     2     23  ...                     0.0  39205.17     0.0
1   3     2     34  ...                     0.0  49278.03     0.0
2   4     2     23  ...                     0.0  67333.77     0.0

[3 rows x 371 columns]

In [128]:
df.info() #all in numerical forms

<class 'pandas.core.frame.DataFrame'>
Int64Index: 151838 entries, 0 to 75817
Columns: 371 entries, ID to TARGET
dtypes: float64(116), int64(255)
memory usage: 430.9 MB

In [129]:
df.describe()

                  ID           var3  ...         var38        TARGET
count  151838.000000  151838.000000  ...  1.518380e+05  76020.000000
mean    75919.500000   -1551.539391  ...  1.173110e+05      0.039569
std     43831.999424   39394.010507  ...  2.177175e+05      0.194945
min         1.000000 -999999.000000  ...  1.202730e+03      0.000000
25%     37960.250000       2.000000  ...  6.770562e+04      0.000000
50%     75919.500000       2.000000  ...  1.061020e+05      0.000000
75%    113878.750000       2.000000  ...  1.185435e+05      0.000000
max    151838.000000     238.000000  ...  2.889440e+07      1.000000

[8 rows x 371 columns]

##2)Dropping&Creating Features

##3)Encoding

#2.Preprocessing(with Visualization)

In [130]:
df['imp_ent_var16_ult1'].value_counts() #returns series, uniques are indices

0.00        144516
300.00         470
150.00         430
600.00         348
900.00         276
             ...
313.89           1
956.25           1
2280.00          1
7305.00          1
20460.00         1
Name: imp_ent_var16_ult1, Length: 938, dtype: int64

In [131]:
feature_binary=[]
feature_ternary=[]
for feature in df.columns.values: #too many ananymous features is key point of this competition
  if df[feature].value_counts()[df[feature].mode()[0]]>=100000: #mode returns most frequent value in series
    feature_binary.append(feature)
  elif feature=='ID':continue
  elif feature=='TARGET':continue
  else:
    df.drop([feature],axis=1,inplace=True) 
df.columns

Index(['ID', 'var3', 'imp_ent_var16_ult1', 'imp_op_var39_comer_ult1',
       'imp_op_var39_comer_ult3', 'imp_op_var40_comer_ult1',
       'imp_op_var40_comer_ult3', 'imp_op_var40_efect_ult1',
       'imp_op_var40_efect_ult3', 'imp_op_var40_ult1',
       ...
       'saldo_medio_var29_ult3', 'saldo_medio_var33_hace2',
       'saldo_medio_var33_hace3', 'saldo_medio_var33_ult1',
       'saldo_medio_var33_ult3', 'saldo_medio_var44_hace2',
       'saldo_medio_var44_hace3', 'saldo_medio_var44_ult1',
       'saldo_medio_var44_ult3', 'TARGET'],
      dtype='object', length=355)

In [132]:
num=0
for feature in feature_binary:
  num+=1
  df.loc[(df[feature]==df[feature].mode()[0]),feature]=1
  df.loc[(df[feature]!=df[feature].mode()[0]),feature]=0
print(f'Number of disproportionate features are {num}')
print(df['imp_ent_var16_ult1'].value_counts()) #returns series, uniques are indices

Number of disproportionate features are 353
1.0    144516
0.0      7322
Name: imp_ent_var16_ult1, dtype: int64

##1)Null filling

##2)Scaling&Outliers

#3.Modeling

In [ ]:
test_df=df.loc[df.TARGET]

#1)Uploading

#2)Feedback

#3)Afterwords