<a href="https://colab.research.google.com/github/Lutris98/21_1Q/blob/master/4.Bike/Bike_baseline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1.EDA

In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import VotingClassifier
from lightgbm import LGBMClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [12]:
from google.colab import drive
drive.mount('/content/gdrive')
bike_df=pd.read_csv('/content/gdrive/MyDrive/Dataset/bike_train.csv')
test_df=pd.read_csv('/content/gdrive/MyDrive/Dataset/bike_test.csv')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [13]:
df=pd.concat([bike_df,test_df],axis=0,ignore_index=True)
df.head(3)

              datetime  season  holiday  ...  casual  registered  count
0  2011-01-01 00:00:00       1        0  ...     3.0        13.0   16.0
1  2011-01-01 01:00:00       1        0  ...     8.0        32.0   40.0
2  2011-01-01 02:00:00       1        0  ...     5.0        27.0   32.0

[3 rows x 12 columns]

##1)Basic statistics

In [14]:
df.info() #null at casual,registered,count

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    17379 non-null  object
 1   season      17379 non-null  int64
 2   holiday     17379 non-null  int64
 3   workingday  17379 non-null  int64
 4   weather     17379 non-null  int64
 5   temp        17379 non-null  float64
 6   atemp       17379 non-null  float64
 7   humidity    17379 non-null  int64
 8   windspeed   17379 non-null  float64
 9   casual      10886 non-null  float64
 10  registered  10886 non-null  float64
 11  count       10886 non-null  float64
dtypes: float64(6), int64(5), object(1)
memory usage: 1.6+ MB

In [15]:
df.describe()

             season       holiday  ...    registered         count
count  17379.000000  17379.000000  ...  10886.000000  10886.000000
mean       2.501640      0.028770  ...    155.552177    191.574132
std        1.106918      0.167165  ...    151.039033    181.144454
min        1.000000      0.000000  ...      0.000000      1.000000
25%        2.000000      0.000000  ...     36.000000     42.000000
50%        3.000000      0.000000  ...    118.000000    145.000000
75%        3.000000      0.000000  ...    222.000000    284.000000
max        4.000000      1.000000  ...    886.000000    977.000000

[8 rows x 11 columns]

##2)Dropping&Creating features

In [16]:
df.drop(['holiday','casual'],axis=1,inplace=True) #columns have meanings

In [17]:
df.datetime=df.datetime.apply(pd.to_datetime) #datetime is a dtype in pandas #lambda is for numbers
df['year']=df.datetime.apply(lambda x:x.year) #each function extracts data from datetime object #names like year,month can't be written in df.year like form
df['month']=df.datetime.apply(lambda x:x.month)
df['day']=df.datetime.apply(lambda x:x.day)
df['hour']=df.datetime.apply(lambda x:x.hour)
df.drop(['datetime'],axis=1,inplace=True)
df.head(3)

   season  workingday  weather  temp   atemp  ...  count  year  month  day  hour
0       1           0        1  9.84  14.395  ...   16.0  2011      1    1     0
1       1           0        1  9.02  13.635  ...   40.0  2011      1    1     1
2       1           0        1  9.02  13.635  ...   32.0  2011      1    1     2

[3 rows x 13 columns]

##3)Encoding

#2.Preprocessing(with Visualization)

##1)Null filling

##2)Scaling&Outlier removal

#3.Modeling

In [ ]:
def get_eval(real,pred): #make RMSLE(start from L to R)
  squared_error=(np.log1p(real)-np.log1p(pred))**2
  rmsle=np.sqrt(np.mean(squared_error))
  rmse=np.sqrt(mean_squared_error(real,pred)) #prefer rmse to normal mse
  mae=mean_absolute_error(real,pred)
  print('RMSLE:{0:.4f} / MSE:{1:.4f} / MAE:{2:.4f}'.format(rmsle,rmse,mae))

#1)Uploading

#2)Feedback

#3)Afterwords